@import "../../global.scss";

// .star {
//   // @import url("https://fonts.googleapis.com/css2?family=Anton&family=Bungee&family=EB+Garamond&family=Orbitron:wght@900&family=Passion+One:wght@700&display=swap");
//   //font-family: Garamond;
//   // font-size: 2.5rem;
//   // background-color: #f3ec78;
//   background: url(https://media4.giphy.com/media/1gVUhlXhETaRRxzeHO/giphy.gif);
//   background-size: 100%;
//   -webkit-background-clip: text;
//   -moz-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   -moz-text-fill-color: transparent;
// }

.portfolio {
  // background-image: linear-gradient(rgb(23, 0, 22), rgb(22, 100, 23));
  background: url(https://media.giphy.com/media/4H3Ii5eLChYul9p7NL/giphy.gif)
    center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100%;
  @include mobile {
    background-size: 200%;
  }
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
    @include mobile {
      font-size: 20px;
    }
  }
  ul {
    margin: 10px;
    padding: 0px;
    list-style: none;
    display: flex;
    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      font-size: 14px;
      margin-right: 50px;
      padding: 7px;
      border-radius: 10px;
      cursor: pointer;

      &.active {
        background-color: rgb(0, 17, 128);
        color: rgb(0, 193, 35);
        font-weight: 700;
        font-style: underlined;
      }
    }
  }

  .container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile {
      width: 100%;
    }

    .item {
      width: 260px;
      height: 156px;
      border-radius: 20px;
      border: none;
      margin: 10px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5 ease;
      cursor: pointer;
      z-index: 0;

      @include mobile {
        width: 130px;
        height: 100px;
      }

      h3 {
        position: absolute;
        font-size: 8px;

        display: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: 0px 0px;
        // transition: object-position 6s ease;
      }
      &:hover {
        transition: all 0.5s ease;
        transform: scale(1.1);
        img {
          opacity: 0.6;
        }
        h3 {
          display: inherit;
          font-size: 10px;
        }
      }
    }
  }
}
.resume {
  // background-color: crimson;
  color: rgb(32, 28, 28);
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 0px 0px 25px 25px;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  &:hover {
    background-color: rgb(14, 183, 8);
    color: white;
    box-shadow: 0px 0px 1550px rgb(255, 0, 255);

    img {
      opacity: 0.2;
    }
    h3 {
      display: inherit;
      font-size: 10px;
    }
  }
}

.containers {
  margin-top: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @include mobile {
    width: 90%;
    margin-top: 50px;
    margin-right: 400px;
  }
  .styling {
    margin-left: 100px;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    @include mobile {
      font-size: 8px;
      width: 80%;
    }
    p {
      width: 80%;
    }
  }
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
