@import "../../global.scss";

.contact {
  background-image: linear-gradient(rgb(9, 81, 133), rgb(245, 42, 44));
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;
    img {
      height: 80%;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
    }
    form {
      width: 70%;
      height: 50%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;

      input {
        width: 300px;
        height: 40px;
        font-size: 14px;
        @include mobile {
          width: 200px;
          height: 350px;
        }
      }
      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 1500px;
        }
      }

      button {
        width: 150px;
        height: 50px;
        color: white;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        margin: 10px;
        @include mobile {
          align-items: center;
          justify-content: center;
          width: 300px;
          height: 50px;
        }
      }
      span {
        color: green;
        @include mobile {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
