@import "../../global.scss";

.background {
  background-size: 15%;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work {
  // background-image: linear-gradient(rgb(22, 100, 23), rgb(255, 255, 255));
  background: url(https://media.giphy.com/media/L1R1tvI9svkIWwpVYr/giphy.gif)
    no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    margin-bottom: 650px;
    color: white;
  }

  .arrow {
    height: 150px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }
    &.left {
      left: 450px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 450px;
    }
  }
  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0vw;
    transition: all 1s ease-out;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile {
          width: 80%;
          height: 150px;
          margin: 15px 0;
        }

        .left {
          flex: 5;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile {
              width: 100%;
              height: 100%;
            }
            .imgContainer {
              margin-left: 75px;
              width: 90px;
              height: 100%;
              border-radius: 50%;
              background-color: rgb(245, 179, 155);
              display: flex;
              align-items: center;
              justify-content: center;

              @include mobile {
                width: 20px;
                height: 20px;
              }

              img {
                width: 55px;

                @include mobile {
                  width: 15px;
                  height: 20px;
                }
              }
            }
            h2 {
              margin: 10px;
              font-size: 18px;
              width: 100%;
              height: 100%;

              @include mobile {
                font-size: 13px;
              }
            }
            p {
              font-size: 8px;
              width: 100%;
              height: 100%;
              @include mobile {
                display: none;
              }
            }
          }
        }
        .right {
          flex: 3;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 100%;
            height: 350px;

            @include mobile {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
